<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text">Mimoto</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal large-horizontal" data-dropdown-menu>
      <li><a href="#">pricing</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">testimonials</a></li>
      <li><a href="#">support</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </div>
</div>
